.loadingScreen {
  display: grid;
  height: 75vh;
  grid-template-rows: auto auto;
  align-content: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.loadingScreen img {
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 50%;
  min-height: 15em;
  max-width: 15em;
  margin: 2em 0 0 0;
}

.loadingScreen p {
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: "Lobster";
  font-size: 2em;
  text-align: center;
  margin: 2em 0 0 0;
}
