.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 10em;
}

.loadingScreen img {
  border-radius: 50%;
  min-height: 15em;
  max-width: 15em;
}

.loadingScreen p {
  font-family: "Lobster";
  font-size: 2em;
}
