.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  display: grid;
  place-items: center;
  font-size: 0.6em;
  padding-bottom: 5px;
}

.main {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px 5px 5px 5px;
  overflow: auto;
}
