.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.header {
  display: grid;
  place-items: center;
  font-size: 0.6em;
  margin-bottom: 5px;
  color: white;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px 5px 5px 5px;
  overflow: scroll;
  grid-row-start: 3;
  grid-row-end: 4;
}

.footer {
  grid-row-start: 4;
  grid-row-end: 5;
}
